.block-education h2 {
	@include line-decoration;
	position: relative;
	font-size: $title-size;
}
.block-education__wrapper {
	@include container-fluid;
	padding: 50px 10px;
	border-bottom: 1px solid #e0e0e0;
}
.block-education p {
	margin: 20px 3%;
}
.block-education__additional--size {
	font-weight: normal;
	margin-left: 1.5%;
}
@media #{$tablet-widths} {
	.block-education__wrapper {
		display: flex;
	}
	.block-education__card--wrapper {
		width: 50%;
	}
}
