.block-work {
}
.block-work h2 {
	@include line-decoration;
	position: relative;
	font-size: $title-size;
}
.block-work__wrapper {
	@include container-fluid;
	@include clearfix;
	padding: 50px 10px;
	border-bottom: 1px solid #e0e0e0;
}
.block-work__skate{
	float: left;
	position: relative;
	width: 75%;
	margin-top: 50px;
	padding: 15px;
	border-radius: 10px;
	background: $background-page;
	color: $color-light;
}
.block-work__skate h3 {
	margin: 0;
	font-size: $skate-size-h3;
}
.block-work__skate time {
	font-size: $skate-size-time;
	color: $color-time;
}
.block-work__skate p {
	margin: 0;
	font-size: $skate-size-p;
}
.block-work__skate::after {
	content: "";
	position: absolute;
	top: 5px;
	right: -3px;
	border: 20px solid $background-page;
    border-right-width: 0;
    border-left-color: $background-page;
    border-top-color: transparent;
    transform: rotate(90deg);
    z-index: -1;
}
.block-work__skate:last-child::after {
	top: 55px;
	transform: rotate(135deg);
}
.block-work__indicator {
	float: right;
	position: relative;
	margin: 50px 15px 0 0;
	height: 810px;
	width: 1px;
	background: $background-page;
}
.block-work__indicator--circle {
	position: absolute;
	left: -15px;
	width: 26px;
	height: 26px;
	border: 2px solid $background-page;
	border-radius: 50%;
	background: $color-light;
}
.block-work__indicator--circle::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 12px;
	height: 12px;
	border-radius: 50px;
	border: 2px solid $background-page;
	background: #914b57;
}
.block-work__indicator--2 {
	top: 195px;
}
.block-work__indicator--3 {
	top: 390px;
}
.block-work__indicator--4 {
	top: 565px;
}
.block-work__indicator--5 {
	top: 780px;
}