.form-feedback {
	@include clearfix;
}
.form-feedback__title {
	font-size: $footer-title;
}
.form-feedback input {
	margin-top: 20px;
	padding-left: 10px;
	width: 95%;
	
}
.form-feedback textarea {
	margin-top: 20px;
	padding: 0 10px;
	max-width: 278px;
	min-width: 278px;
	min-height: 100px;
}
.form-feedback__btn--style {
	float: right;
	margin-top: 15px;
}
