@mixin clearfix {
	&::after {
		content:"";
		display: table;
		clear: both;
	}
}
@mixin container {
	width: 320px;
	margin: 0 auto;

	@media #{table-widths} {
		width: 640px;	
		@media #{$desktop-widths} {
		width: 960px;	
		}		
	}
	
}
@mixin line-decoration {
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 35px;
		width: 76px;
		height: 2px;
		background: #fb6470;

	} 
}
 