@mixin clearfix() {
	&::after {
		content:"";
		display: table;
		clear: both;
	}
}
@mixin line-decoration() {
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 35px;
		width: 76px;
		height: 2px;
		background: #fb6470;

	} 
}

$tablet-width: 768px;
$desktop-width: 1225px;

@mixin container-fluid {
	width: auto;
	min-width: 270px;
  	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    	width: 84%;
		max-width: 960px;
		margin: 0 auto;
  	}
  	@media (min-width: #{$desktop-width}) {
    background: green;
    max-width: 1200px;
		margin: 0 auto;
  	}
}

