.page-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 270px;
	background: $background-page;
}
.page-header__logo {
	text-align: center;
}
.page-header__logo h1 {
	display: inline-block;
	position: relative;
	margin: 0;
	padding-top: 40px;
	color: $color-light;
	text-transform: uppercase;
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background: $background-line-h1;
		animation-name: opacity-h1;
		animation-duration: 5s;
		animation-iteration-count: infinite;
	}
	&::before {
		top: 30px;	
	}
	&::after {
		top: 70px;
		left: 0;
	}
}
.page-header__logo span {
	display: block;
	padding-top: 10px;
	color: $color-light
}
@media #{$tablet-widths} {
	.page-header {
	min-height: 600px;
	}
	.page-header__logo {
		order: 1;
	}
	.page-header__logo h1 {
		margin-top: 100px;	
		font-size: $title-size-tab;
		&:after {
			top: 75px;
		}	
		&:before {
			top: 25px;
		}
	}
	.page-header__logo span {
		font-size: $title-span-size-tab;
	}
}
@media #{$desktop-widths} {
	.page-header {
	min-height: 900px;
	}
	.page-header__logo h1 {
		margin-top: 200px;
		font-size: $title-size-des;
		&:after {
			top: 80px;
		}	
		&:before {
			top: 20px;
		}
	}
	.page-header__logo span {
		font-size: $title-span-size-des;
	}
}