.page-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 270px;
	background: $background-page;
}
.page-header__logo {
	text-align: center;
}
.page-header__logo h1 {
	display: inline-block;
	position: relative;
	margin: 0;
	padding-top: 40px;
	color: $color-light;
	text-transform: uppercase;
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 255px;
		height: 2px;
		background: $background-line-h1;
		animation-name: opacity-h1;
		animation-duration: 5s;
		animation-iteration-count: infinite;
	}
	&::before {
		top: 30px;	
	}
	&::after {
		top: 70px;
		left: 0;
	}
}
@keyframes opacity-h1 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes translate {
	0% {
		transform: translateX(-300px);
	}
	100% {
		transform: translateX(0px);
	}
}
.page-header__logo span {
	display: block;
	padding-top: 10px;
	color: $color-light
}
@media #{$tablet-widths} {
	.page-header {
	min-height: 590px;
	}
	.page-header__logo {
		order: 1;
	}
	.page-header__logo h1 {
		margin-top: 100px;	
	}
}
@media #{$desktop-widths} {
	.page-header {
	min-height: 300px;
	}
}