.pege-footer {
	margin-top: 30px;
	background: $background-page;
}
.footer-wrapper {
	@include container-fluid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: $padding-top-block $padding-l-r-block 20px;
}
.pege-footer h2 {
	@include line-decoration;
	position: relative;
	display: inline-block;
	width: 100%;
	color: $color-text-footer;
}
.pege-footer__info {
	margin: 30px auto;
	padding: 0 30px;
}
.pege-footer__list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pege-footer__items {
	position: relative;
	margin-left: 50px;
	display: inline-block;
}
.pege-footer__items h3 {
	margin: 20px 0 10px;
	font-size: $footer-title;
	color: $color-text-footer;
}
.pege-footer__items span {
	font-size: $footer-span;
	color: $color-text-footer;
}
.pege-footer__copyright {
	display: flex;
	justify-content: center;
	width: 100%;
	border-top: 1px solid #e0e0e0;
}
.pege-footer__copyright div{
	display: inline-block;
	margin: 20px 3%;
	width: 18px;
	height: 18px;
}
.pege-footer__copyright a {
	font-size: 0px;
}
.pege-footer__copyright--vk::after {
	content: "";
	position: absolute;
	background: url("/../img/sprites.png") no-repeat;
	background-position: -34px -52px ;
	width: 18px;
	height: 18px;
}
.pege-footer__copyright--fb::after {
	content: "";
	position: absolute;
	background: url("/../img/sprites.png") no-repeat;
	background-position: -34px -33px ;
	width: 18px;
	height: 18px;
}
.pege-footer__copyright--skype::after {
	content: "";
	position: absolute;
	background: url("/../img/sprites.png") no-repeat;
	background-position: -53px -34px;
	width: 18px;
	height: 18px;
}
