$tablet-widths: (min-width: 768px);
$desktop-widths: (min-width: 1225px);

$background-page: #353541;
$color-light: #ffffff;
$color-time: #914b57; 
$backgroung-btn: #fb6470;
$background-logo: linear-gradient(to top, #353541 0%, #2c3949 50%, #23242d 100%);
$background-skills: #1d1d24;
$background-indicator: #fb6470;
$background-indicator-line: #bcbcbe;

$title-size: 32px; 
$block-info-li: 16px;
$skate-size-h3: 16px;
$skate-size-time: 16px;
$skate-size-p: 14px;
$footer-title: 22px;
$footer-span: 16px;
$btn-size: 16px;


