$mobile-widths-only: (max-width: 767px);
$tablet-widths: (min-width: 768px);
$desktop-widths: (min-width: 1225px);

$background-page: #353541;
$color-light: #ffffff;
$color-time: #914b57; 
$background-main-menu: #1d1d24; 
$background-main-nav__toggle: #1d1d39; 
$background-main-nav__toggle-hover: #1d1d30; 
$background-main-nav__toggle-active: #1d1d20;
$background-main-nav__a--hover: #2a2d34; 
$background-main-nav__a--active: #3d3d44; 
$background-line-h1: #fb6470;
$backgroung-btn: #fb6470;
$background-logo: linear-gradient(to top, #353541 0%, #2c3949 50%, #23242d 100%);
$background-skills: #1d1d24;
$background-indicator: #fb6470;
$background-indicator-line: #bcbcbe;

$title-size: 32px; 
$block-info-li: 16px;
$skate-size-h3: 16px;
$skate-size-time: 16px;
$skate-size-p: 14px;
$footer-title: 22px;
$footer-span: 16px;
$btn-size: 16px;

// hamburglar
$color: #fff;         // icon color
$animation: 2s;   // animation speed
$scale: 0.8;            // icon scale 68/68 default
